*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}


#app {
    max-width: 1140px;
    margin: 0 auto;

}
.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 88px;
}
.menu-item {
    display: flex;
    gap: 40px;

}
.menu-item a {
   
}
.menu-auth {
    display: flex;
    gap: 40px;
    align-items: center;
}
.sign-up {
    color: #F53855;
    font-size: 16px;
   
    border-radius: 50px;
border: 1px solid #F53855;
padding: 14px 44px;

}

/* ========================================== START BANNER ============================ */

.banner {
  display: flex;
  align-items: center;
}
.banner-left--heading {
  max-width: 555px;
  color: #0B132A;
font-family: Rubik;
font-size: 52px;
font-style: normal;
font-weight: 600;
line-height: 70px;
}
.banner-left--des {
  margin-top: 20px;
  margin-bottom: 50px;
  color: #4F5665;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}
.banner-left--link {
  padding: 18px 78px;
  color: #FFF;
  border-radius: 10px;
background: #F53838;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 25px;
}
/* ========================================== END BANNER ============================ */




/* <!-- ================== START TOTAL =================== --> */

.total {
  margin-top: 104px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.total-item {
  display: flex;
  gap: 36px;
  align-items: center;

}
.total-item--icon {
  width: 56px;
  height: 56px;
  background-color: #FFECEC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.total-item-info--number {
  color: #0B132A;
font-family: Rubik;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 30px; 
}
.total-item-info--label {
  color: #4F5665;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
}
/* <!-- ================== END TOTAL =================== --> */

